header #header_opciones{
	float: right;
	width: 185px;
	padding: 3.3em 2em 0em 0em;
}

form#form_ciclo{
    margin: 2% auto;    
    width: 300px;
}


.ver_detalles{
    margin-top: 3%;
    margin-left: 4%;
}

.ver_detalles label{
    font-size: 1.5em;
}

#dias_inhabiles div{
    margin-top: 25px;
    margin-left: 3%;
}

div.dia_inhabil_agregado{
    margin-top: 5%;
}


label.agregar_dia_inhabil{
    margin-top: 12px;
}

#nuevoDiaIn{
    font-size: 1.0em;
}

section li img{
    visibility: hidden;
}

section li:hover img{
    visibility: visible;
    margin-right: 10px;
}

@media ( max-width: 550px ){
    header{
        height: 120px;
    }
    
    div.container-fluid{
        padding-top: 130px;
    }
                
    header #header_opciones{
        float: left;
        width: 185px;
        padding: 0em 0em 0em 3em;
    }

    header #header_opciones #nav_cuenta{
        float: left;
        padding-top: 0.5em;
    }

    header #header_opciones p{
        float: left;
        color: #FFF;
        margin: 0px;
        padding-top: 0.7em;
    }
}

@media ( max-width: 340px ){
    header #header_logo img{
         padding-left: 0;
    }
    
    header #header_opciones{
        padding-left: 0;
    }
}